.navbar{:style => "padding-top: 60px;"}
  .pull-right.navbar-header
    = raw(" Powered By #{link_to 'OstryaLabs.', 'http://www.ostryalabs.com', :class =>"text-muted", :target => '_blank'}")
    = link_to image_tag("img8.jpeg", :height => "24px"), "#"
    = link_to image_tag("img9.jpeg", :height => "24px"), "#"
    = link_to image_tag("img10.jpeg", :height => "24px"), "#"
    
